apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  labels:
    app: voyager-grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: voyager-grafana
  template:
    metadata:
      labels:
        app: voyager-grafana
    spec:
      containers:
      - name: grafana
        image: grafana
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
spec:
  selector:
    app: voyager-grafana
  ports:
    - port: 3000
      targetPort: 3000